html, body {
  height: 100%;
}
body {
  margin: 0;
}
.App {
  height:100%;
}
.container {
  margin-top:40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

